body {
  background: #e3e3e3;
  font-family: "roboto", sans-serif;
}
header {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 30px 0;
}
main {
  padding: 40px 0;
}
footer {
  border-top: 1px solid #e3e3e3;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: lighter;
}
a {
  color: #51b4c1;
}
.weather-app-container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 20px 25px rgba(65, 50, 100, 0.08);
  border-radius: 12px;
}
.search-form {
  display: block;
  margin-top: 0cm;
  border: none;
}
.search-form-button {
  background-color: #51b4c1;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
}
.search-form-input {
  background-color: #f6f5f5;
  padding: 15px 20px;
  width: 80%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.app-data {
  display: flex;
  justify-content: space-between;
}
.current-city {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}
.app-details strong {
  color: #3c8998;
}
.current-temp-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
}
.weather-app-icon {
  font-weight: 80px;
  height: 80px;
  line-height: 80px;
}
.weather-app-unit {
  margin-top: 5px;
  font-size: 30px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.forecast-temperature-max {
  font-weight: bold;
  color: #3c8998;
}
.forecast-temperature-min {
  color: #3c8998;
  opacity: 0.8;
}
